.custom-date-picker .DateInput {
    /* Add your custom styles here */
    border: 2px solid red;  /* Example border style */
    background-color: lightgray;  /* Example background color */
    /* Add other CSS properties as needed */
}

.DateInput_input, .DateInput_input_1 {
  Height: 30px;
}

.Select-menu-outer {
    z-index: 1000; /* Ensure it's above other content */
}
.dash-table-container {
    overflow: visible;
}

.dash-table-container .dropdown { position: static; }

.dash-table-container .dropdown.dropdown { position: static; }

.Select-clear { display:none;}