.Select-menu-outer {
    z-index: 1000; /* Ensure it's above other content */
}
.dash-table-container {
    overflow: visible;
}

.DateInput_input, .DateInput_input_1
{
    width: 300px !important;
}

.DateInput {
    width: 300px !important;
}