.Select-menu-outer {
    z-index: 1000; /* Ensure it's above other content */
}
.dash-table-container {
    overflow: visible;
}

.DateInput_input, .DateInput_input_1
{
    width: 300px !important;
}

.DateInput {
    width: 300px !important;
}

.Select-placeholder {
    padding-left:1px !important;
    width: 330px !important;
}


.Select-value {
    padding-left:1px !important;
}

.DateInput_input {
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
    line-height: var(--bs-body-line-height) !important;
    padding-left:1px !important;
    height: 34px !important;
}

